<div class="header">
    <div class="button back-button fa fa-chevron-left"></div>
    <div class="title"></div>
</div>
<div class="content">
    <fieldset>
        <label>Title</label>
        <input type="text" class="title" value="<%= title %>"/>
    </fieldset>
    <fieldset>
        <label>Language</label>
        <select class="language">

        </select>
    </fieldset>
    <fieldset>
        <label>Edition</label>
        <input type="text" class="edition" value="<%= edition %>"/>
    </fieldset>
    <fieldset>
        <label>Publisher</label>
        <input type="text" class="publisher" value="<%= publisher %>"/>
    </fieldset>
    <button class="save primary"></button>
</div>