<div class="header">
    <div class="button back-button fa fa-chevron-left"></div>
    <div class="title"></div>
</div>
<div class="content">
    <p><%= title %></p>
    <p><%= author %></p>
    <p class="date"><%= formatDate(date) %></p>
    <fieldset>
        <label><%= description %></label>
    </fieldset>
    <div class="check fa fa-check-circle" ></div>

    <div class="list">

    </div>
    <textarea  rows="4" cols="50" placeholder="Escribir comentario..." class="comment"></textarea>
    <button type="button" name="button" class="publish">Publicar</button>



</div>
